*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.a
*.lib

*.exe
*.out
*.app
cse450bot

/out/
/.vs/
/build/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
*.cmake

.vscode/
.idea/

.DS_Store
.Thumbs.db

*.log
*.tmp
*.swp

*.bak
*.orig
*.tmp
